name: flutter_lunch_quest
description: A Angel Robotics Lunch Quest App

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.3+2

environment:
  sdk: ">=2.8.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: any
  flare_flutter: any
  lottie: ^0.7.0+1
  web_browser_detect: ^1.0.2+2

  firebase: any
  responsive_builder: any
  fancy_drawer: ^1.0.0
  http: any

  flutter_date_picker_timeline: ^0.1.5
  fluttertoast: ^7.1.6
  flutter_slidable: ^0.5.7
  sliding_up_panel: ^1.0.2
  flutter_sparkline: any
  timeago: ^2.0.29
  slide_digital_clock: any
  flutter_svg: ^0.19.2+1
  google_fonts: ^1.1.2

  share: ^0.6.5+4
  url_launcher: ^5.7.10
  flutter_time_picker_spinner: ^1.0.6+1
  day_night_time_picker: any
  printing: any
  pdf: any

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/flare/
    - assets/lottie/
    - assets/img/
  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Italic.ttf
          style: italic
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700
    - family: OpenSans
      fonts:
          - asset: assets/fonts/OpenSans-Regular.ttf
    - family: MaruBuri
      fonts:
        - asset: assets/fonts/MaruBuri-Regular.ttf

    # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
